// background colors classes

//@each $kvp in $colorList {
//  // kvp stands for 'key-value pair'
//  $name: nth($kvp, 1);
//  .has-bg-#{$name} {
//
//    background: nth($kvp, 2);
//
//  }
//}

// font color classes

@each $kvp in $colorList {
  // kvp stands for 'key-value pair'
  $name: nth($kvp, 1);
  .has-c-#{$name} {

    color: nth($kvp, 2);

  }

  .has-active-c-#{$name} {
    color: nth($kvp, 2) !important;
  }

  .has-active-bg-#{$name} {
    background-color: nth($kvp, 2) !important;
  }

  .scroll-thumb-#{$name} {
    &::-webkit-scrollbar-thumb {
      background-color: nth($kvp, 2);
    }
  ;
  }
}

// border helper classes

$borderStyles: (
  '': solid,
  -dotted: dotted,
  -dashed: dashed
);

@each $kvp in $spacingList {
  // kvp stands for 'key-value pair'
  $exceptions: vert, hori;
  $spacename: nth($kvp, 1);
  $spacevalue: nth($kvp, 2);
  @each $bs in $borderStyles {
    $stylename: nth($bs, 1);
    $styleval: nth($bs, 2);
    .has-bd-#{$spacename}#{$stylename} {

      @if ($spacename == vert) {
        border-top-style: #{$styleval};
        border-bottom-style: #{$styleval};
      } @else if ($spacename == hori) {
        border-left-style: #{$styleval};
        border-right-style: #{$styleval};
      } @else {
        border#{$spacevalue}-style: #{$styleval};
      }
      @each $kvp in $colorList {
        // kvp stands for 'key-value pair'
        $name: nth($kvp, 1);
        &.bd-#{$name} {
          @if ($spacename == vert) {
            border-top-color: nth($kvp, 2);
            border-bottom-color: nth($kvp, 2);
          } @else if ($spacename == hori) {
            border-left-color: nth($kvp, 2);
            border-right-color: nth($kvp, 2);
          } @else {
            border#{$spacevalue}-color: nth($kvp, 2);
          }
        }
      }

      @each $kvp in $borderSizes {
        // kvp stands for 'key-value pair'
        $name: nth($kvp, 1);
        &.bd-#{$name} {
          @if ($spacename == vert) {
            border-top-width: nth($kvp, 2);
            border-bottom-width: nth($kvp, 2);
          } @else if ($spacename == hori) {
            border-left-width: nth($kvp, 2);
            border-right-width: nth($kvp, 2);
          } @else {
            border#{$spacevalue}-width: nth($kvp, 2);
          }
        }
      }
    }
  }
}



