.answer-icon-with-variable {
  overflow-x: auto;
  height: auto;
  padding-bottom: 20px;

  .list-wrapper {
    margin: 0px auto;
    height: 70px;
    padding: 0px;
    width: auto;

    .list-inner-wrapper {
      width: auto;
      height: 70px;
      padding: 0px;
      margin: 0px;
      border-right: 1px solid #666;
      display: block;
      float: left;
      position: relative;
      margin-left: 10px;

      &:last-child { border-right: none; }

      .list-icon {
        height: 90%;
        width: 65px;
        position: absolute;
        top: 5%;
        left: 0px;
        z-index: 1001;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .list-title {
        font-size: 12px;
        font-weight: bold;
        position: absolute;
        top: 41px;
        left: 0px;
        width: 65px;
        z-index: 1002;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0px 10px;
      }

      .list-label {
        font-size: 10px;
        font-weight: bold;
        position: absolute;
        top: 53px;
        left: 0px;
        width: 65px;
        z-index: 1002;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0px 10px;
      }

      .list-number {
        font-size: 16px;
        font-weight: bold;
        width: auto;
        min-width: 40px;
        height: 100%;
        line-height: 100%;
        padding: 27px 15px 0px 0px;
        text-align: center;
        font-family: 'Bebas';
        white-space: nowrap;
        margin: 0px 0px 0px 70px;
        display: block;
      }
    }
  }
}
