svg.diwo-visual-brush {
  .brush-text { font-size: 12px; font-weight: 300; letter-spacing: 1px; }
  .brush {
    .selection {
      stroke: none;
    }
  }
  .node {
    cursor:pointer;
    .node-circle { fill-opacity: 0.5; }
  }
}
