svg.donut-chart {

  font-family: 'Yantramanav', sans-serif;

  .label, .label-value, .label-y-o-y, .label-y-o-y-value {
    font-size: 10px;
    fill: $full-white;
  }

  .avg-path, .avg-path-arc, .avg-bg { fill: $full-white; }
  .avg-text { fill: $dark-gray; font-size: 9px; font-weight: bold; }
  .avg { stroke-width: 0px; shape-rendering: crispEdges; }
  .bg-rect { fill: $blueChartBg; fill-opacity: 1; }


}
