.answer-list-view {
  overflow-x: auto;
  height: auto;
  padding-bottom: 20px;

  .list-line {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: block;
    .list-line-inner {
      width: 100%;
      height: 28px;
      line-height: 28px;
      padding: 0px;
      margin: 0px;
      font-weight: 300;
      display: block;
      color: #666;
      span { max-width: calc(80% - 20px); text-overflow: ellipsis; white-space: nowrap; }
      span.metric { font-size: 13px; font-weight: normal; margin-right: 20px; }
      span.number { float: right; font-size: 15px; font-weight: bold; font-family: 'Bebas'; }

    }
  }

}
