@import "scaffolding/variables";

@import "mixins/all";

@import "scaffolding/all";

@import "helpers/all";
@import "components/all";

@keyframes gradient-animation {
    0%   {opacity: 0.25;}
    25%  {opacity: 0.5;}
    50%  {opacity: 1;}
    75%  {opacity: 0.5;}
    100% {opacity: 0.25;}
}

@keyframes hover-animation {
    0%   {opacity: 0;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.5;}
    75%  {opacity: 0.75;}
    100% {opacity: 1;}
}

.svg-particle {
    position:relative;
    cursor: pointer;
}

.svg-gradient {
    opacity: 0;
    animation-name: gradient-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#watch-toggle {
  .toggle { background-color: #00a9ad !important; }
}

.hidden { display: none; }

