$arrowSizes: (7px, 8px);

@import "../scaffolding/variables";



[class^="arrow_box"]:after, [class*=" arrow_box"]:after,
[class^="arrow_box"]:before, [class*=" arrow_box"]:before {

  border: solid transparent;
  content: " ";
  height: 0;
  position: absolute;
  width: 0;
  pointer-events: none;
}

.arrow_box-right:after, .arrow_box-right:before,.arrow_box-left:after, .arrow_box-left:before {
  top: 50%;
}

.arrow_box-right{
  &:before,&:after{
    left: 100%;
  }

  &:before{
    @include transform(translateX(0.5px));
  }
}

.arrow_box-left{
  &:before,&:after {
    right: 100%;
  }
  &:before{
    @include transform(translateX(-0.5px));
  }
}

.arrow_box-top:after, .arrow_box-top:before, .arrow_box-bottom:after, .arrow_box-bottom:before{
  left: 50%;
}

.arrow_box-top{
  &:before,&:after {
    bottom: 100%;
  }

  &:before{
    @include transform(translateY(-0.5px));
  }
}

.arrow_box-bottom{
  &:before,&:after {
    top: 100%;
  }

  &:before{
    @include transform(translateY(0.5px));
  }
}

[class^="arrow_box"]:after {
  border-color: rgba(136, 183, 213, 0);

}
[class^="arrow_box"]:before {
  border-color: rgba(194, 225, 245, 0);
}


// font color classes

@each $size in $arrowSizes {
  $sizeName: $size * 2;

  .arrow-#{$sizeName}:after {
    border-width: $size;
  }

  .arrow-#{$sizeName}:before {
    border-width: $size +1;
  }
  .arrow_box-top.arrow-#{$sizeName}:after, .arrow_box-bottom.arrow-#{$sizeName}:after {
    margin-left: -$size;
  }

  .arrow_box-top.arrow-#{$sizeName}:before, .arrow_box-bottom.arrow-#{$sizeName}:before {
    margin-left: -($size + 1);
  }

  .arrow_box-right.arrow-#{$sizeName}:after, .arrow_box-left.arrow-#{$sizeName}:after {
    margin-top: -$size;
  }

  .arrow_box-right.arrow-#{$sizeName}:before, .arrow_box-left.arrow-#{$sizeName}:before {
    margin-top: -($size + 1);
  }

  @each $bd in $borderSizes {
    $bdName: nth($bd, 1);
    $bdSize: nth($bd, 2);

    .arrow-#{$sizeName}.arrow-bd-#{$bdName}:after {
      border-width: $size;
    }

    .arrow-#{$sizeName}.arrow-bd-#{$bdName}:before {
      border-width: $size +$bdSize;
    }
    .arrow_box-top.arrow-#{$sizeName}.arrow-bd-#{$bdName}:after, .arrow_box-bottom.arrow-#{$sizeName}.arrow-bd-#{$bdName}:after {
      margin-left: -$size;
    }

    .arrow_box-top.arrow-#{$sizeName}.arrow-bd-#{$bdName}:before, .arrow_box-bottom.arrow-#{$sizeName}.arrow-bd-#{$bdName}:before {
      margin-left: -($size + $bdSize);
    }

    .arrow_box-right.arrow-#{$sizeName}.arrow-bd-#{$bdName}:after, .arrow_box-left.arrow-#{$sizeName}.arrow-bd-#{$bdName}:after {
      margin-top: -$size;
    }

    .arrow_box-right.arrow-#{$sizeName}.arrow-bd-#{$bdName}:before, .arrow_box-left.arrow-#{$sizeName}.arrow-bd-#{$bdName}:before {
      margin-top: -($size + $bdSize);
    }
  }
}
