$allFonts: h1, h2, h3, h4, h5, h6, h7, p;

%normal {
  font-weight: normal;
  line-height: 1.1;
}

%light{
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, h7, p{
  margin: 0;
}

@each $font in $allFonts {
  #{$font}.normal {
    @extend %normal;
  }
  #{$font}.light {
    @extend %light;
  }

}

.has-underline{
  text-decoration: underline;
}

.has-text-overflow{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.has-no-line-height{
  line-height: 0.7 !important;
}

.has-line-height-1{
  line-height: 1 !important;
}

.vert-text-bottom-top{
  writing-mode: vertical-rl;
  //-webkit-writing-mode: vertical-rl;
  writing-mode: sideways-lr;
  //@include transform(rotate(-180deg));
}

@supports (-webkit-appearance:none) {
  .vert-text-bottom-top {
    @include transform(rotate(-180deg));
  }
}


.p.small,p.small{
  font-size: em(12);
}

.p.smaller,p.smaller{
  font-size: em(10);
}

$path: url(/assets/css/custom-framework/fonts/BEBAS.TTF);

@font-face {
  font-family: 'Bebas';
  src: $path format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

//@font-face {
//  font-family: 'Source Sans Pro';
//  font-style: normal;
//  font-weight: 200;
//  font-stretch: normal;
//
//  src: local('Source-Sans-Pro-ExtraLight'), local('Source Sans Pro'), url('/assets/css/custom-framework/fonts/EOT/SourceSansPro-ExtraLight.eot') format('embedded-opentype'), url('../fonts/WOFF/OTF/SourceSansPro-ExtraLight.otf.woff') format('woff'), url('../fonts/OTF/SourceSansPro-ExtraLight.otf') format('opentype'), url('../fonts/TTF/SourceSansPro-ExtraLight.ttf') format('truetype');
//}

@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;

  src: local('Yantramanav-Thin'), local('Yantramanav'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.eot') format('embedded-opentype'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.woff') format('woff'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.woff2') format('woff2'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.svg#sourceSansPro') format('svg'),
  url('/assets/css/custom-framework/fonts/Yantramanav-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;

  src: local('Yantramanav-Light'), local('Yantramanav'),
  //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.eot') format('embedded-opentype'),
  //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.woff') format('woff'),
  //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.woff2') format('woff2'),
  //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.svg#sourceSansPro') format('svg'),
  url('/assets/css/custom-framework/fonts/Yantramanav-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;

  src: local('Yantramanav-Regular'), local('Yantramanav'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.eot') format('embedded-opentype'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.woff') format('woff'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.woff2') format('woff2'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.svg#sourceSansPro') format('svg'),
  url('/assets/css/custom-framework/fonts/Yantramanav-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;

  src: local('Yantramanav-Medium'), local('Yantramanav'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.eot') format('embedded-opentype'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.woff') format('woff'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.woff2') format('woff2'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.svg#sourceSansPro') format('svg'),
  url('/assets/css/custom-framework/fonts/Yantramanav-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;

  src: local('Yantramanav-Bold'), local('Yantramanav'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.eot') format('embedded-opentype'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.woff') format('woff'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.woff2') format('woff2'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.svg#sourceSansPro') format('svg'),
  url('/assets/css/custom-framework/fonts/Yantramanav-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;

  src: local('Yantramanav-Black'), local('Yantramanav'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.eot') format('embedded-opentype'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.woff') format('woff'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.woff2') format('woff2'),
    //url('/assets/css/custom-framework/fonts/source-sans-pro/Source-Sans-Pro-300.svg#sourceSansPro') format('svg'),
  url('/assets/css/custom-framework/fonts/Yantramanav-Black.ttf') format('truetype');
}




.font-highlight{
  font-family: 'Bebas';
}

.light{
  font-weight: 300 !important;
}

.bold{
  font-weight: bold;
}

.is-text-left{
  text-align: left;
}
.is-text-right{
  text-align: right;
}
.is-text-center{
  text-align: center;
}

p,.p{
  font-size: em(15);
  line-height: 1.4;
  font-weight: 300;
}

h1,.h1{
  font-size: em(22);
}

h2,.h2{
  font-size: em(22);
  font-weight: 600;
}

h3,.h3{
  font-size: em(17);
  font-weight: 600;
  //line-height: 0.7;
}

h4,.h4{
  font-size: em(15); // bold version of p value
  font-weight: 600;
  //line-height: 0.7;
}
