$iconSizes: 8 8px,10 10px, 12 12px, 14 14px, 16 16px, 20 20px, 24 24px, 48 48px;
$iconName: diwo;

@font-face {
  font-family: 'Diwo-Icons';
  src: url('assets/icons/Diwo-Icons.ttf?qcuhjy') format('truetype'),
  url('assets/icons/Diwo-Icons.woff?qcuhjy') format('woff');
  font-weight: normal;
  font-style: normal;
}



[class^="di-"], [class*=" di-"] {
  //display: inline-block;
  //width: 1em;
  //height: 1em;
  //stroke-width: 0;
  //stroke: currentColor;
  //fill: currentColor;

  font: normal normal normal 14px/1 'Diwo-Icons';
  font-size: inherit;

  display: inline-block;
  text-rendering: auto;

  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

@each $kvp in $iconSizes {
  // kvp stands for 'key-value pair'
  $name: nth($kvp, 1);
  $size: nth($kvp, 2);
  .#{$iconName}-#{$name}x {

    font-size: #{$size};
  }
}

@each $kvp in $iconSizes {
  // kvp stands for 'key-value pair'
  $name: nth($kvp, 1);
  $size: nth($kvp, 2);
  .di-#{$name}x {

    font-size: #{$size};
  }
}

button.expand{
  width: 45px;
  height: 14px;
  @include border-radius(3px);
  font-size: 8px;
}

[class^="btn-"], [class*="btn-"] {
  height: 26px;
  width: 26px;

  letter-spacing: -.5px;
  text-align: center;
}

.is-circle{
  @include border-radius(100%);
}

.material-hover{
  cursor: pointer;
  @include transition(box-shadow 250ms cubic-bezier(0.25, 0.8, 0.25, 1) 0s);
  &:hover{

    @include box-shadow(2px 4px 18px rgba(0, 0, 0, 0.2))
  }
}

@each $kvp in $buttonSizes {
  // kvp stands for 'key-value pair'
  $name: nth($kvp, 1);
  $size: nth($kvp, 2);
  .btn-#{$name}{
    width: #{$size};
    height: #{$size};
    //line-height: #{$size};

    @each $bd in $borderSizes {
      // kvp stands for 'key-value pair'
      $name: nth($bd, 1);
      &.bd-#{$name} {
        //line-height: #{$size - (nth($bd, 2) * 2)};
      }
    }

    &.with-line-height{
      line-height: #{$size};
    }
  }
}

//[class^="di-"], [class*=" di-"] {
//  /* use !important to prevent issues with browser extensions that change fonts */
//  font-family: 'Diwo-Icons' !important;
//  speak: none;
//  font-style: normal;
//  font-weight: normal;
//  font-variant: normal;
//  text-transform: none;
//  line-height: 1;
//
//  /* Better Font Rendering =========== */
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//
//  &::before{
//    //vertical-align: text-top;
//  }
//}

.di-write:before {
  content: "\e933";
}
.di-arrow-thin-down:before {
  content: "\e934";
}
.di-arrow-thin-up:before {
  content: "\e935";
}
.di-user:before {
  content: "\e932";
}
.di-evidence:before {
  content: "\e931";
}
.di-view-list:before {
  content: "\e92f";
}
.di-view-card:before {
  content: "\e930";
}
.di-check:before {
  content: "\e92e";
}
.di-interaction-circle:before {
  content: "\e92a";
}
.di-indicator-circle:before {
  content: "\e92b";
}
.di-service-and-product-circle:before {
  content: "\e92c";
}
.di-customer-circle:before {
  content: "\e92d";
}
.di-prev:before {
  content: "\e926";
}
.di-next:before {
  content: "\e927";
}
.di-skip-backward:before {
  content: "\e928";
}
.di-skip-forward:before {
  content: "\e929";
}
.di-tree-diagram:before {
  content: "\e924";
}
.di-definitions:before {
  content: "\e925";
}
.di-settings:before {
  content: "\e923";
}
.di-privacy-mode:before {
  content: "\e922";
}
.di-chat:before {
  content: "\e920";
}
.di-exclamation:before {
  content: "\e921";
}
.di-email:before {
  content: "\e91f";
}
.di-notification:before {
  content: "\e91e";
}
.di-type:before {
  content: "\e91d";
}
.di-download:before {
  content: "\e91c";
}
.di-decide:before {
  content: "\e91a";
}
.di-watch:before {
  content: "\e91b";
}
.di-refresh:before {
  content: "\e919";
}
.di-logout:before {
  content: "\e918";
}
.di-case:before {
  content: "\e916";
}
.di-clip:before {
  content: "\e917";
}
.di-trash:before {
  content: "\e915";
}
.di-minus:before {
  content: "\e912";
}
.di-plus:before {
  content: "\e913";
}
.di-analyze:before {
  content: "\e914";
}
.di-volume-muted:before {
  content: "\e911";
}
.di-insight:before {
  content: "\e910";
}
.di-play:before {
  content: "\e909";
}
.di-replay:before {
  content: "\e90a";
}
.di-pause:before {
  content: "\e90b";
}
.di-stop:before {
  content: "\e90c";
}
.di-volume:before {
  content: "\e90d";
}
.di-share:before {
  content: "\e904";
}
.di-help:before {
  content: "\e905";
}
.di-narrate:before {
  content: "\e906";
}
.di-pin:before {
  content: "\e908";
}
.di-microphone:before {
  content: "\ea1c";
}
.di-minus-circle:before {
  content: "\ea19";
}
.di-plus-circle:before {
  content: "\ea18";
}
.di-chevron-down-circle:before {
  content: "\e9f3";
}
.di-chevron-up-circle:before {
  content: "\e907";
}
.di-arrow-left:before {
  content: "\e900";
}
.di-arrow-up:before {
  content: "\e901";
}
.di-arrow-right:before {
  content: "\e902";
}
.di-arrow-down:before {
  content: "\ea15";
}
.di-column:before {
  content: "\ea13";
}
.di-plot-graph:before {
  content: "\ea14";
}
.di-close:before {
  content: "\ea12";
}
.di-chevron-left:before {
  content: "\e90e";
}
.di-chevron-right:before {
  content: "\e903";
}
.di-chevron-up:before {
  content: "\e90f";
}
.di-chevron-down:before {
  content: "\ea10";
}
.di-print:before {
  content: "\ea11";
}
.di-search:before {
  content: "\ea17";
}
.di-save:before {
  content: "\e91c";
}
.di-filter:before {
  content: "\e924";
}
.di-My:before {
  content: "\e924";
}

