body, html {
  height: 100%;
}

body{
  font-size: $base-fontsize;
  font-family: 'Yantramanav';

}

body:before, body:after {
  content: "";
  display: table;
}

body.overflowY {
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

