// basics

$base-font-size: 16;

$base-fontsize: $base-font-size + px;

// ======= z-index

$z-layers: (
  "infinity":9010,
  "far": 9001,
  "above": 8000,
  "top": 7000,
  "default": 1,
  "below": -1,
  "bottomless-pit": -9000
);

@function z($layer) {
  @if not map-has-key($z-layers, $layer) {
    @warn "No layer found for `#{$layer}` in $z-layers map. Property omitted.";
  }

  @return map-get($z-layers, $layer);
}

// ======= variables for breakpoints

$viewportIncrement: 1px;

$small: 480px;
$medium: 768px;
$large: 769px;

$postSmall: $small + $viewportIncrement;
$preMedium: $medium - $viewportIncrement;
$preLarge: $large - $viewportIncrement;

$breakpoints: (
  'small' '(max-width: #{$small})',
  'medium' '(min-width: #{$postSmall}) and (max-width: #{$medium})',
  'medium-down' '(max-width: #{$medium})',
  'large' '(min-width: #{$large})'
);
$breakpoint-has-widths: ('small', 'medium', 'medium-down', 'large');

// ======= variables for color listings

$secondary: #173859;

$colorList: (
  //'transparent': transparent,
  ////diwo colors
  //stripe-login: #F4F2F1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAOElEQVQIW3WO0QoAMAgC9f8/2mHgYOR6CfLopCQBAEl6Z3xnwgYM/QPuqwYsT5zu8IRLMa1KU4MHpl8j/OxZRcwAAAAASUVORK5CYII=) repeat,
  //diwo-red: #E20613,
  //diwo-blue: rgb(15,55,68),
  //
  ////brand colors
  //primary: #e20613,
  //secondary: $secondary,
  //secondary-light: #d0e8f4,
  //tertiary: #aad3e9,
  //
  //// warning colors
  //grade-low: #00a9ad,
  //
  //grade-low-mid: #8fbc63,
  //grade-high: #ffa751,
  //grade-high-mid: #f76c41,
  //grade-high-mid-high: #F8665C,
  //grade-critical: #f7394c,
  //// importance
  //important-1: #f0d4d3,
  //important-2: #f2c1c1,
  //important-3: #f6a2a1,
  //important-4: #f98a88,
  //important-5: #fd716f,
  //// shade colors
  shade-1: white,
  shade-3: #ededed,
  shade-5: #b3b3b3,
  shade-7: #8c8c8c,
  shade-17: #1C1C1C,
  //
  //// transparencies
  //
  //secondary-trans-5: rgba($secondary, 0.05),
  //secondary-trans-30: rgba($secondary, 0.3),
  //secondary-trans-40: rgba($secondary, 0.4),
  //secondary-trans-60: rgba($secondary, 0.6),
  //secondary-trans-80: rgba($secondary, 0.8)
);

$buttonSizes: (small: 16px, normal-small: 22px, normal: 26px, medium: 32px, large: 36px);

// ======= variables for border listings

$borderSizes: (light: 1px, normal: 2px, normal-large: 3px, bold: 4px, extra-bold: 7px);

// ======= variables for spacing listings

$spacingList: top -top, bottom -bottom, left -left, right -right, vert '', hori '', full '';
$spacingSizeList: (light: 4px, extra-small: 6px, small: 7px, normal: 9px, normal-large: 12px, medium: 15px, medium-lg: 20px, large: 24px, extra-large: 35px,  largest: 74px, none: 0);

// ======= variables for Header

$headerHeight: 121px;

$fullHeaderHeight: $headerHeight+ map_get($spacingSizeList, large);

// decide

$decideHeaderHeight: 26px;
