@mixin flexbox {
  //display: box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: inline-box;
}

@mixin flex-grow($input){
  -moz-box-flex: $input;
  -webkit-box-flex: $input;
  box-flex: $input;
  flex-grow: $input;
  -webkit-flex-grow: $input;
  -ms-flex-grow: $input;
  -moz-flex-grow: $input;
}

@mixin justify-content($input) {
  $input2: null;
  @if $input == flex-start{
    $input2: start;
  } @else if $input == flex-end{
    $input2: end;
  } @else if $input == center{
    $input2: center;
  } @else if $input == space-between{

    $input2: justify;
  } @else {
    $input2: $input;
  }

  box-pack: $input2;
  -webkit-box-pack: $input2;
  -webkit-justify-content: $input;
  flex-pack: $input2;
  -ms-flex-pack: $input2;
  justify-content: $input;
}

@mixin align-items($input) {

  $input2: null;

  @if $input == flex-start{
    $input2: start;
  } @else if $input == flex-end{
    $input2: end;
  } @else if $input == center{
    $input2: center;
  } @else if $input == baseline{
    $input2: $input;
  } @else if $input == stretch{
    $input2: $input;
  } @else {
    $input2: $input;
  }

  box-align: $input2;
  -webkit-box-align: $input2;
  -webkit-align-items: $input;
  -ms-flex-align: $input2;
  align-items: $input;
  -webkit-align-content: $input;
  -ms-flex-line-pack: $input;
  align-content: $input;
}

@mixin flex-direction($input) {
  $input2: null;
  @if $input == row {
    $input2: horizontal;
  } @else if $input == column{
    $input2: vertical;
  } @else if $input == center{
    $input2: center;
  } @else if $input == row-reverse{
    $input2: horizontal;
    box-direction: reverse;
    -webkit-box-direction: reverse;
  } @else if $input == column-reverse{
    $input2: vertical;
    box-direction: reverse;
    -webkit-box-direction: reverse;
  } @else{
    $input2: $input;
  }

  box-orient: $input2;
  -webkit-box-orient: $input2;
  -webkit-flex-direction: $input;
  -ms-flex-direction: $input;
  flex-direction: $input;
}

@mixin align-self( $input){
  $input2: null;

  @if $input == flex-start{
    $input2: start;
  } @else if $input == flex-end{
    $input2: end;
  } @else if $input == center{
    $input2: center;
  } @else if $input == baseline{
    $input2: $input;
  } @else if $input == stretch{
    $input2: $input;
  } @else {
    $input2: $input;
  }


  -webkit-align-self: $input;
  align-self: $input;


}

@mixin flex-wrap($input) {

  $input2: null;

  @if $input == wrap{
    $input2: multiple;
  } @else if $input == nowrap{
    $input2: single;
  } @else {
    $input2: $input;
  }

  -webkit-flex-wrap: $input;
  -ms-flex-wrap: $input;
  -ms-flex-lines: $input2;
  flex-wrap: $input;
}

@mixin flex-fixed($input) {
  -moz-box-flex: 0;
  -webkit-box-flex: 0;
  box-flex:0;
  flex: 0 0 $input;
  -webkit-flex: 0 0 $input;
  -moz-flex: 0 0 $input;
  -ms-flex: 0 0 $input;
  width: $input;
}

@mixin flex-shrink($input){
  -webkit-flex-shrink: $input;
  -moz-flex-shrink: $input;
  -ms-flex-shrink: $input;
  flex-shrink: $input;
  -moz-box-flex: $input;
  -webkit-box-flex: $input;
}

@mixin flex($input){
  -webkit-box-flex: $input;
  -webkit-flex: $input;
  -ms-flex: $input;
  flex: $input;
}
